@model List<Models.Customer>

@{
    ViewBag.Title = "AdminOverview";
}

<h2>AdminOverview</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="customers_table"></div>

<div id="delete-customer-confirm" title="Delete registered payment?" hidden>
    <p>Are you sure?</p>
</div>

<script type="text/javascript">
    $(function()
    {
        $("#customers_table").on("click", ".deleteButton", (function ()
        {
            var nid = $(this).attr('id');
            $("#delete-customer-confirm").dialog(
            {
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                closeOnEscape: false,
                open: function (event, ui) {  // hides the close button in the top right corner
                    $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                },
                buttons:
                {
                    "Delete customer": function () {
                        $.ajax(
                        {
                            url: "/Bank/AdminDeleteCustomer/" + nid,
                            type: 'GET',
                            dataType: 'json',
                            success: function (customers) {
                                showCustomers(customers);
                            },
                            error: function (x, y, z) {
                                alert(x + '\n' + y + '\n' + z);
                            }
                        });
                        $(this).dialog("close");
                    },
                    "Don't delete": function () {
                        $(this).dialog("close");
                    }
                } // end of buttons
            }); // end of dialog
        })); // end of on click

        $.ajax(
        {
            url: "/Bank/GetAllCustomers",
            type: 'GET',
            dataType: 'json',
            success: function (customers) {
                showCustomers(customers);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        
    }) // end of page load

    function showCustomers(customerList) {
        var out = "<table id='customers_table'>" +
            "<tr>" +
                "<th>National ID number</th>" +
                "<th>Name</th>" +
                "<th></th>" +
                "<th></th>" +
                "<th></th>" +
            "</tr>";

        for (var i in customerList) {
            var nid = customerList[i].nID;
            var name = customerList[i].firstName + " " + customerList[i].lastName;

            out +=
                "<tr>" +
                    "<td>" + nid + "</td>" +
                    "<td>" + name + "</td>" +
                    "<td><a href='/Bank/AdminEditCustomer/" + nid + "' " +
                        "class='btn btn-success'>Edit Customer</a></td>" +
                    "<td><a href='/Bank/AdminCustomerDetails/?nid=" + nid + "' " +
                        "class='btn btn-success'>Customer accounts info</a></td>" +
                    "<td><button id='" + nid + "' class='btn btn-danger deleteButton'>" +
                        "Delete Customer</button></td>" +
                "</tr>";
        }
        $("#customers_table").html(out);
    }

</script>
